{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <div class="about-content">
        <h1>About SolarCalc</h1>
        <div class="about-description">
            <p>SolarCalc is a comprehensive solar energy calculator designed to help homeowners and businesses estimate their solar power needs.</p>
        </div>
        
        <h2>Development Team</h2>
        <div class="credits-grid">
            <div class="credit-item center-item full-width">
                <div class="credit-image">
                    <img src="{{ url_for('static', filename='admin.png') }}" alt="Project Leader">
                </div>
                <div class="credit-info">
                   
                    <p>Administrator</p>
                </div>
            </div>
			<div class="credit-item center-item full-width">
                <div class="credit-image">
                    <img src="{{ url_for('static', filename='super.png') }}" alt="Project Leader">
                </div>
                <div class="credit-info">
                   
                    <p>Supervising</p>
                </div>
            </div>
			
			
			<div class="credit-row">
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='TESD.jpg') }}" alt="Technical Lead">
                    </div>
                    <div class="credit-info">
                      
                        <p>TESD specialist II</p>
                    </div>
                </div>
                
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='Adv.jpg') }}" alt="Technical Lead">
                    </div>
                    <div class="credit-info">
                       
                        <p>Advisor</p>
                    </div>
                </div>
            </div>
			
            
            <div class="credit-row four-column">
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='dev1.jpg') }}" alt="Technical Lead">
                    </div>
                    <div class="credit-info">
                       
                        <p>Develepor</p>
                    </div>
                </div>
            
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='dev2.jpg') }}" alt="Technical Lead">
                    </div>
                    <div class="credit-info">
                      
                        <p>Develepor</p>
                    </div>
                </div>
                
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='dev3.png') }}" alt="Technical Lead">
                    </div>
                    <div class="credit-info">
               
                        <p>Develepor</p>
                    </div>
                </div>
                
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='dev4.jpg') }}" alt="Developer">
                    </div>
                    <div class="credit-info">
                       
                        <p>Develepor</p>
                    </div>
                </div>
            </div>
            
			 <div class="credit-row four-column">
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='dev5.jpg') }}" alt="Technical Lead">
                    </div>
                    <div class="credit-info">
                       
                        <p>Develepor</p>
                    </div>
                </div>
                
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='dev6.jpg') }}" alt="Developer">
                    </div>
                    <div class="credit-info">
                      
                        <p>Develepor</p>
                    </div>
                </div>
                
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='dev7.jpg') }}" alt="Developer">
                    </div>
                    <div class="credit-info">
                      
                        <p>Develepor</p>
                    </div>
                </div>
                
                <div class="credit-item">
                    <div class="credit-image">
                        <img src="{{ url_for('static', filename='dev8.jpg') }}" alt="Developer">
                    </div>
                    <div class="credit-info">
                       
                        <p>Develepor</p>
                    </div>
                </div>
            </div>
			
        </div>
    </div>
</div>
{% endblock %}